body {
    background-color: white;
}

.introduction {
  height: 93vh;
  width: 65%;
  margin: 0;
  background-color: black;
  padding: 7vh 0 0 7vh;
  overflow: hidden;
}

.title {
    color: white;
}
/*This is the typewriter effect*/
.typing{
        display: inline-block;
    }
    .subtitle {
        color: white;
        overflow: hidden;
        border-right: .30em solid red;
        border-radius: 4px;
        white-space: nowrap;
        animation:
          typing 1s steps(20, end) forwards,
          blinking 1.2s infinite;
        width: 0;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    @keyframes blinking {
      from { border-color: transparent }
      to { border-color: #0B60B0; }
    }
/* Until here */

.panel {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 65%;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 6vh;
    padding-bottom: 5vh;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.panel::-webkit-scrollbar {
    display: none;
}

.panel li {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.panel li:hover {
  color: #0B60B0;
  padding-left: 15%;
  transition: 0.25s;
}

.panel a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
  .panel {padding-top: 15px;}
  .panel li {font-size: 18px;}
}

#about {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#about.fade {
    opacity:1;
}


.about_items {
    color: white;
}

.about_links {
    border: none;
    color: inherit;
    cursor: pointer;
}

.about-achievements:hover {
    opacity: 0.55;
}

.footer {
    background: black;
    margin: 0;
    height: 7vh;
    width: 65%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.logos {
    height: 25px;
    width: 25px;
    transition: 0.1s;
}
.buttons {
    white-space: nowrap;
    color: white;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.footer-items {
    margin-left: 20px;
}

.footer-items:hover {
    opacity: 0.55;
}