.introduction {
  height: 93vh;
  width: 65%;
  margin: 0;
  background-color: black;
  padding: 15% 0 0 10%;
  overflow: hidden;
}

.title {
    color: white;
}
/*This is the typewriter effect*/
.typing{
        display: inline-block;
    }
    .subtitle {
        color: white;
        overflow: hidden;
        border-right: .30em solid red;
        border-radius: 4px;
        white-space: nowrap;
        animation:
          typing 1s steps(20, end) forwards,
          blinking 1.2s infinite;
        font-size: 1.6rem;
        width: 0;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    @keyframes blinking {
      from { border-color: transparent }
      to { border-color: #0B60B0; }
    }
/* Until here */

.projects {
  position: absolute;
  width: 15%;
  height: 50%;
  padding:0;
  right:15%;
  top: 25%;
  margin:0;
  overflow: auto;
}

.footer {
    background: black;
    margin: 0;
    height: 7vh;
    width: 65%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.logos {
    height: 25px;
    width: 25px;
    transition: 0.1s;
}
#about {
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

.footer-items {
    margin-left: 20px;
}

.footer-items:hover {
    opacity: 0.5;
}

body {
    background-color: white;
}