.introduction {
  height: 93vh;
  width: 65%;
  margin: 0;
  background-color: black;
  padding: 10% 0 0 5%;
  overflow: hidden;
}

.title {
    color: white;
}
/*This is the typewriter effect*/
.typing{
        display: inline-block;
    }
    .subtitle {
        color: white;
        overflow: hidden;
        border-right: .30em solid red;
        border-radius: 4px;
        white-space: nowrap;
        animation:
          typing 1s steps(20, end) forwards,
          blinking 1.2s infinite;
        width: 0;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    @keyframes blinking {
      from { border-color: transparent }
      to { border-color: #0B60B0; }
    }
/* Until here */

.items {
  position: absolute;
  width: 15%;
  height: 50%;
  padding:0;
  right:15%;
  top: 25%;
  margin:0;
  overflow: auto;
}

.footer {
    background: black;
    margin: 0;
    height: 7vh;
    width: 65%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.logos {
    height: 25px;
    width: 25px;
    transition: 0.1s;
}
.buttons {
    white-space: nowrap;
    color: white;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.footer-items {
    margin-left: 20px;
}

.footer-items:hover {
    opacity: 0.55;
}

#about {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#about.fade {
    opacity:1;
}


.about_items {
    color: white;
}

.about_links {
    border: none;
    color: inherit;
    cursor: pointer;
}

.about-achievements:hover {
    opacity: 0.55;
}

#projects {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#projects.fade {
    opacity:1;
}

#contributions {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#contributions.fade {
    opacity: 1;
}

body {
    background-color: white;
}