{% include "header.html" %}
    <div class="container introduction">
      <div class="row col-5">
          <h1 class=" title">Hello!</h1>
      </div>
      <div class="row col typing">
          <h3 class="subtitle">This is my portfolio website.</h3>
      </div>
      <div class="row col-9">
          <h6 id="about_text" >I am a junior python developer.</h6>
      </div>
    </div>
    <div id="projects" class="container items">
        <ul>
          {% for project in projects %}
            <p>{{ project }}</p>
          {% endfor %}
        </ul>
    </div>
    <div id="contributions" class="container items">
        <ul>
          {% for contribution in contributions %}
            <p>{{ contribution }}</p>
          {% endfor %}
        </ul>
    </div>
    <div class="footer" >
        <a class="footer-items logos" href="{{ github_link }}">
            <img class="logos" src="static/images/github-mark-white.svg"/>
        </a>
        <button onclick="show_about()" id="about_btn" class="footer-items buttons">About me</button>
        <button onclick="show_projects()" id="projects_btn" class="footer-items buttons">Projects</button>
        <button onclick="show_contributions()" id="contributions_btn" class="footer-items buttons">Contributions</button>
    </div>
{% include "footer.html" %}
