{% include "header.html" %}
    <div class="container introduction">
      <div class="row col-5">
          <h1 class=" title">Hello!</h1>
      </div>
      <div class="row col typing">
          <h3 class="subtitle">This is my portfolio website.</h3>
      </div>
      <div id="about" class="row col-8">
          <h6 class="about_items">{{ about }}</h6>
          <p></p>
          <h4 class="about_items">Achievements:</h4>
          <ul class="about_items">
              {% for achievement in achievements %}
                <li class="row col-4 about-achievements">
                    {% if achievements[achievement] == "" %}
                        <p class="about_links"> {{ achievement }} </p>
                    {% else %}
                        <a class="about_links" href="{{ achievements[achievement] }}"> {{ achievement }} </a>
                    {% endif %}
                </li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <div id="projects" class="panel">
        <ul>
          {% for project in projects %}
            <li>
                {{ project }}
            </li>
          {% endfor %}
        </ul>
    </div>
    <div id="contributions" class="panel">
        <ul>
          {% for contribution in contributions %}
            <li>{{ contribution }}</li>
          {% endfor %}
        </ul>
    </div>
    <div class="footer" >
        <a class="footer-items logos" href="{{ github_link }}">
            <img class="logos" src="static/images/github-mark-white.svg"/>
        </a>
        <button onclick="show_about()" id="about_btn" class="footer-items buttons">About me</button>
        <button onclick="show_projects()" id="projects_btn" class="footer-items buttons">Projects</button>
        <button onclick="show_contributions()" id="contributions_btn" class="footer-items buttons">Contributions</button>
    </div>
{% include "footer.html" %}
